/* Reset cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container chính */
#main section {
  padding: 4rem 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* Hero section */
.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 2rem 4rem;
}
.item1 {
  grid-column-start: 1 ;
  grid-column-end: 3;
  height: 16rem;
  width: 16rem;
  object-fit: contain;
  margin-left: 2rem;
  margin-top: 4rem;
}
.item2 {
  grid-column-start: 3 ;
  grid-column-end: 10;
  margin: 0 auto;
}
.text-Aithenos {
  font-family: "Sedgwick Ave", cursive;
  font-size: 4rem;
  color: #704EE7;
  padding: 0 1rem;
}



