
/* Reset cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container chính */
#section {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 0;
}
.container {
  grid-column-start: 2 ;
  grid-column-end: 10;
  margin: 0 auto;
  text-align: center;
}
.title {
  font-weight: 800;
  color:#704EE7;
  font-size: 3.75rem;
  margin: 2rem auto;
}
/* Hero section */

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr repeat(9, 1fr);
  margin: 2rem 4rem;
}
.item1 {
  grid-column-start: 1 ;
  grid-column-end: 3;
  height: 75%;
  width: 75%;
  object-fit: contain;
  margin-left: 2rem;
  margin-top: 4rem;
}
.item2 {
  grid-column-start: 3 ;
  grid-column-end: 10;
  margin: 0 auto;
}
.text-Aithenos {
  font-family: "Sedgwick Ave", cursive;
  font-size: 4rem;
  color: #704EE7;
  padding: 0 1rem;
}
/* Section 3 */


/* Tablet */
@media (max-width: 1024px) {

}

/* Mobile */
@media (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
  }

  .item1,
  .item2 {
    width: 100%;
    margin: 1rem 0;
  }
}

